<!-- 
<div class="text-layout">
  
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>

</div>

<button pButton 
        (click)="mostrarNombre()"
        icon="pi pi-upload"
        iconPos="right"
        class="p-button-help"
        label="Cambiar Nombre"></button>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellat maxime modi excepturi rem doloremque nemo est ab ratione nisi laudantium officiis libero, eligendi error officia autem magnam inventore? Vero?
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>